@charset "UTF-8";
html {
  font-size: 10px;
}
main {
  min-height: calc(100vh - 20vw - 2.0rem);
}
p, a, span, h1, h2, h3, h4, h5, h6, table, ul, ol {
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
h1, h2 {
  font-size: 2.4rem;
  margin-top: 2.0rem;
}
h3 {
  font-size: 1.8rem;
}
p, ul, ol, table {
  font-size: 1.2rem;
}
ul {
  list-style: none;
}
table {
  margin: 0.8rem;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.wrapper + .wrapper {
  margin-top: 2.0rem;
}
.content {
  margin: 0.8rem 2.0rem;
}

/* 以下、個別要素  */
/* ▼ ヘッダー ▼ */
.header {
  z-index: 100;
}
#SP {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 20vw;
}
.top-bar {
  position: absolute;
  height: 20vw;
  width: 100vw;
  background-color: #000;
}
.top-bar img {
  position: absolute;
  height: 12vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* メニューボタン */
.menu-btn {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  background-color: #000;
  transition: all .4s;
}
.menu-btn-bar {
  position: absolute;
  left: 5vw;
  width: 10vw;
  height: 1vw;
  border-radius: 0.5vw;
  transform: translateY(0) rotate(0deg);
  background-color: #fff;
  transition: all .4s;
}
.menu-btn-bar:nth-of-type(1) {
  top: 5vw;
}
.open .menu-btn-bar:nth-of-type(1) {
  -webkit-transform: translateY(4vw) rotate(-45deg);
  transform: translateY(4vw) rotate(-45deg);
}
.menu-btn-bar:nth-of-type(2) {
  top: 9vw;
}
.open .menu-btn-bar:nth-of-type(2) {
  opacity: 0;
}
.menu-btn-bar:nth-of-type(3) {
  top: 13vw;
}
.open .menu-btn-bar:nth-of-type(3) {
  -webkit-transform: translateY(-4vw) rotate(45deg);
  transform: translateY(-4vw) rotate(45deg);
}
/* メニュー */
.menu {
  z-index: 100;
  position: absolute;
  top: 20vw;
  left: 100vw;
  height: calc(100vh - 20vw);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-wrapper {
  height: 100%;
  overflow: auto;
}
.menu-wrapper a {
  text-decoration: none;
  color: #fff;
}
.menu-wrapper > ul > li {
  font-size: 2.4rem;
  margin: 0.8rem 0;
}
.menu-wrapper > ul > li > ul {
  font-size: 1.8rem;
}
/* ▲ ヘッダー ▲ */

/* ▼ フッター ▼ */
footer p {
  font-size: 1.2rem;
}
/* ▲ フッター ▲ */