@charset "UTF-8";
html {
  font-size: 10px;
}
.header {
  z-index: 100;
}
.child-center {
  text-align: center;
}
.wrapper + .wrapper {
  margin-top: 2rem;
}

/* 以下、個別要素  */
/* メニューボタン */
#SP {
  position: absolute;
  width: 20vw;
  height: 20vw;
  right: 0;
}
.menu-btn {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.menu-btn-bar {
  position: absolute;
  left: 5vw;
  width: 10vw;
  height: 1vw;
  transform: translateY(0) rotate(0deg);
  background-color: #fff;
}
.menu-btn_top {
  top: 5vw;
}
.menu-btn_middle {
  top: 9vw;
}
.menu-btn_bottom {
  top: 13vw;
}

/* メニュー */
.menu {
  /* display: none; */
  z-index: 100;
  position: fixed;
  top: 20vw;
  left: 100vw;
  height: calc(100vh - 20vw);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-wrapper {
  height: 100%;
  overflow: auto;
}
.menu-wrapper a {
  text-decoration: none;
  color: #fff;
}
.menu-wrapper > ul > li {
  font-size: 2.4rem;
  margin: 0.8rem 0;
}
.menu-wrapper > ul > li > ul {
  font-size: 1.8rem;
}