@charset "UTF-8";
html {
  font-size: 10px;
}
@media screen and (max-width:350px) {
  html {
    font-size: 9px;
  }
}

body {
  background:
    -webkit-linear-gradient(280deg, hsla(30, 80%, 65%, 0.6) 0%, hsla(30, 80%, 65%, 0) 25%),
    -webkit-linear-gradient(40deg, hsla(205, 100%, 67%, 0.6) 0%, hsla(205, 100%, 67%, 0) 20%),
    -webkit-linear-gradient(330deg, hsla(0, 100%, 75%, 0.6) 0%, hsla(0, 100%, 75%, 0) 60%),
    -webkit-linear-gradient(270deg, hsla(130, 35%, 75%, 0.6) 40%, hsla(130, 35%, 75%, 0) 75%),
    -webkit-linear-gradient(135deg, hsla(300, 100%, 75%, 0.6) 0%, hsla(300, 100%, 75%, 0) 40%),
    -webkit-linear-gradient(330deg, hsla(180, 100%, 50%, 0.6) 40%, hsla(180, 100%, 50%, 0) 100%);
  background:
    linear-gradient(170deg, hsla(30, 80%, 65%, 0.6) 0%, hsla(30, 80%, 65%, 0) 25%),
    linear-gradient(50deg, hsla(205, 100%, 67%, 0.6) 0%, hsla(205, 100%, 67%, 0) 20%),
    linear-gradient(120deg, hsla(0, 100%, 75%, 0.6) 0%, hsla(0, 100%, 75%, 0) 60%),
    linear-gradient(180deg, hsla(130, 35%, 75%, 0.6) 40%, hsla(130, 35%, 75%, 0) 75%),
    linear-gradient(315deg, hsla(300, 100%, 75%, 0.6) 0%, hsla(300, 100%, 75%, 0) 40%),
    linear-gradient(120deg, hsla(180, 100%, 50%, 0.6) 40%, hsla(180, 100%, 50%, 0) 100%);
}

main {
  min-height: calc(100vh - 20vw - 4.0rem);
  width: 100vw;
}
h1, h2, h3, h4, h5, h6, .menu a{
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
}
p, a, span, table, ul, ol, label {
  font-family: 'Noto Serif JP', 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, メイリオ, Meiryo, serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 500;
}
h1, h2 {
  font-size: 2.4rem;
  margin-top: 2.0rem;
}
h3 {
  font-size: 1.8rem;
}
/* aタグ追加注意！メニューが崩れます！ */
p, ul, ol, table, label {
  font-size: 1.3rem; /* 変更するかも */
}
tbody {
  font-size: 1.2rem;
}
p {
  line-height: 2.4rem;
}
li p {
  line-height: 1.8rem;
}
ul {
  list-style: none;
}
ol {
  margin-left: 1.3rem;
}
table {
  margin: 0.8rem;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.wrapper + .wrapper {
  margin-top: 2.0rem;
}
.content {
  margin: 0.8rem 2.0rem;
}

/* 以下、個別要素  */
/* ▼ ヘッダー ▼ */
.header {
  z-index: 100;
}
#SP {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 20vw;
}
/* 
.top-bar {
  position: absolute;
  height: 20vw;
  width: 100vw;
  background-color: #000;
}
.top-bar img {
  position: absolute;
  height: 12vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */
/* メニューボタン */
/* .menu-btn {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  background-color: #000;
  transition: all .4s;
}
.menu-btn-bar {
  position: absolute;
  left: 6vw;
  width: 8vw;
  height: 0.9vw;
  border-radius: 0.5vw;
  transform: translateY(0) rotate(0deg);
  background-color: #fff;
  transition: all .4s;
}
.menu-btn-bar:nth-of-type(1) {
  top: 6vw;
}
.open .menu-btn-bar:nth-of-type(1) {
  -webkit-transform: translateY(3vw) rotate(-45deg);
  transform: translateY(3vw) rotate(-45deg);
}
.menu-btn-bar:nth-of-type(2) {
  top: 9vw;
}
.open .menu-btn-bar:nth-of-type(2) {
  opacity: 0;
}
.menu-btn-bar:nth-of-type(3) {
  top: 12vw;
}
.open .menu-btn-bar:nth-of-type(3) {
  -webkit-transform: translateY(-3vw) rotate(45deg);
  transform: translateY(-3vw) rotate(45deg);
} */

/* ヘッダー仮 */
.top-bar img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0) translateY(0);
}
.menu-btn {
  position: absolute;
  width: 10vw;
  height: 10vw;
  top: 5vw;
  right: 3vw;
}
.menu-btn-bar {
  position: absolute;
  left: 1vw;
  width: 8vw;
  height: 0.9vw;
  border-radius: 0.5vw;
  transform: translateY(0) rotate(0deg);
  background-color: #fff;
  transition: all .4s;
}
.menu-btn-bar:nth-of-type(1) {
  top: 2vw;
}
.open .menu-btn-bar:nth-of-type(1) {
  /* -webkit-transform: translateY(4vw) rotate(-45deg);
  transform: translateY(4vw) rotate(-45deg); */
  -webkit-transform: translateY(3vw) rotate(-45deg);
  transform: translateY(3vw) rotate(-45deg);
}
.menu-btn-bar:nth-of-type(2) {
  top: 5vw;
}
.open .menu-btn-bar:nth-of-type(2) {
  opacity: 0;
}
.menu-btn-bar:nth-of-type(3) {
  top: 8vw;
}
.open .menu-btn-bar:nth-of-type(3) {
  /* -webkit-transform: translateY(-4vw) rotate(45deg);
  transform: translateY(-4vw) rotate(45deg); */
  -webkit-transform: translateY(-3vw) rotate(45deg);
  transform: translateY(-3vw) rotate(45deg);
}


/* メニュー */
.menu {
  z-index: 100;
  position: absolute;
  top: 20vw;
  left: 100vw;
  height: calc(100vh - 20vw);
  width: 100vw;
  max-width: 414px;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-wrapper {
  height: 100%;
  overflow: auto;
}
.menu-wrapper a {
  text-decoration: none;
  color: #fff;
}
.menu-wrapper > ul > li {
  font-size: 2.4rem;
  margin: 0.8rem 0;
}
.menu-wrapper > ul > li > ul {
  font-size: 1.8rem;
}
/* ▲ ヘッダー ▲ */

/* ▼ フッター ▼ */
footer p {
  font-size: 1.2rem;
}
/* ▲ フッター ▲ */

@media (orientation: landscape) {
  .content {
    margin: 0.8rem 8.0rem;
  }
}