@charset "UTF-8";
html {
  font-size: 10px;
}
@media screen and (max-width:350px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width:960px) {
  html {
    font-size: 12px;
  }
}

.border-box {
  border: 1px solid black;
  padding: 20px;
}

/* body {
  background:
    -webkit-linear-gradient(280deg, hsla(30, 80%, 65%, 0.6) 0%, hsla(30, 80%, 65%, 0) 25%),
    -webkit-linear-gradient(40deg, hsla(205, 100%, 67%, 0.6) 0%, hsla(205, 100%, 67%, 0) 20%),
    -webkit-linear-gradient(330deg, hsla(0, 100%, 75%, 0.6) 0%, hsla(0, 100%, 75%, 0) 60%),
    -webkit-linear-gradient(270deg, hsla(130, 35%, 75%, 0.6) 40%, hsla(130, 35%, 75%, 0) 75%),
    -webkit-linear-gradient(135deg, hsla(300, 100%, 75%, 0.6) 0%, hsla(300, 100%, 75%, 0) 40%),
    -webkit-linear-gradient(330deg, hsla(180, 100%, 50%, 0.6) 40%, hsla(180, 100%, 50%, 0) 100%);
  background:
    linear-gradient(170deg, hsla(30, 80%, 65%, 0.6) 0%, hsla(30, 80%, 65%, 0) 25%),
    linear-gradient(50deg, hsla(205, 100%, 67%, 0.6) 0%, hsla(205, 100%, 67%, 0) 20%),
    linear-gradient(120deg, hsla(0, 100%, 75%, 0.6) 0%, hsla(0, 100%, 75%, 0) 60%),
    linear-gradient(180deg, hsla(130, 35%, 75%, 0.6) 40%, hsla(130, 35%, 75%, 0) 75%),
    linear-gradient(315deg, hsla(300, 100%, 75%, 0.6) 0%, hsla(300, 100%, 75%, 0) 40%),
    linear-gradient(120deg, hsla(180, 100%, 50%, 0.6) 40%, hsla(180, 100%, 50%, 0) 100%);
  background-attachment: fixed;
} */
body {
  background: url(../images/home-background.png);
}

main {
  min-height: calc(100vh - 13.3vw - 2.4rem);
  width: 100vw;
}
h1, h2, h3, h4, h5, h6, .menu a{
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
}
p, a, span, table, ul, ol, label {
  font-family: 'Noto Sans JP', 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, メイリオ, Meiryo, serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 500;
}
h1, h2 {
  font-size: 2.4rem;
  padding-top: 2.0rem;
}
h3 {
  font-size: 1.8rem;
}
/* aタグ追加注意！メニューが崩れます！ */
p, ul, ol, table, label {
  font-size: 1.4rem; /* 変更するかも */
}
tbody {
  font-size: 1.2rem;
}
p {
  line-height: 2.4rem;
}
li p {
  line-height: 1.8rem;
}
ul {
  list-style: none;
}
ol {
  margin-left: 1.3rem;
}
table {
  margin: 0.8rem;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.wrapper + .wrapper {
  margin-top: 2.0rem;
}
.content {
  margin: 0.8rem 2.0rem;
}

/* 以下、個別要素  */
/* ▼ ヘッダー ▼ */
.header {
  z-index: 100;
  position: fixed;
  /* overflow: hidden; */
  width: 100vw;
  height: 13.3vw;
}
#header_pc {
  display: none;
}
#top_link {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  height: 13.3vw;
  width: 20vw;
}
main {
  position: relative;
  top: 13.3vw;
}
.top-bar img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu-btn {
  position: absolute;
  width: 13.3vw;
  height: 13.3vw;
  top: 0vw;
  right: 0vw;
}
.menu-btn-bar {
  position: absolute;
  left: 3vw;
  width: 8vw;
  height: 0.8vw;
  border-radius: 0.4vw;
  transform: translateY(0) rotate(0deg);
  background-color: #fff;
  transition: all .4s;
}
.menu-text {
  position: absolute;
  text-align: center;
  width: 13.3vw;
  top: 8vw;
  font-size: 3vw;
  color: #fff;
}
.menu-btn-bar:nth-of-type(1) {
  top: 2vw;
}
.open .menu-btn-bar:nth-of-type(1) {
  -webkit-transform: translateY(2.4vw) rotate(-45deg);
  transform: translateY(2.4vw) rotate(-45deg);
}
.menu-btn-bar:nth-of-type(2) {
  top: 4.5vw;
}
.open .menu-btn-bar:nth-of-type(2) {
  opacity: 0;
}
.menu-btn-bar:nth-of-type(3) {
  top: 7vw;
}
.open .menu-btn-bar:nth-of-type(3) {
  -webkit-transform: translateY(-2.4vw) rotate(45deg);
  transform: translateY(-2.4vw) rotate(45deg);
}


/* メニュー */
#menu-show {
  position: absolute;
  display: none;
  top: 13.3vw;
  right: 0;
  height: calc(100vh - 13.3vw);
  width: 100vw;
  max-width: 414px;
  overflow: hidden;
}
.menu {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 100vw;
  height: calc(100vh - 13.3vw);
  width: 100vw;
  max-width: 414px;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-wrapper {
  height: 100%;
  overflow: auto;
}
.menu-wrapper a {
  text-decoration: none;
  color: #fff;
}
.menu-wrapper > ul > li {
  font-size: 2.4rem;
  margin: 1.6rem 0;
}
.menu-wrapper > ul > li > ul {
  font-size: 1.8rem;
}
/* ▲ ヘッダー ▲ */

/* ▼ フッター ▼ */
footer {
  position: relative;
  top: 13.3vw;
}
footer p {
  font-size: 1.2rem;
}
/* ▲ フッター ▲ */

/* 横向き */
@media (orientation: landscape) {
  .content {
    margin: 0.8rem 8.0rem;
  }
}

/* iPad */
@media screen and (min-width: 768px) {
  .content {
    margin: 0.8rem 8.0rem;
  }
}

/* パソコン */
@media screen and (min-width: 960px) {
  /* body {
    background:
      -webkit-linear-gradient(280deg, hsla(30, 80%, 65%, 0.6) 0%, hsla(30, 80%, 65%, 0) 25%),
      -webkit-linear-gradient(40deg, hsla(205, 100%, 67%, 0.6) 0%, hsla(205, 100%, 67%, 0) 20%),
      -webkit-linear-gradient(330deg, hsla(0, 100%, 75%, 0.6) 0%, hsla(0, 100%, 75%, 0) 60%),
      -webkit-linear-gradient(270deg, hsla(130, 35%, 75%, 0.6) 40%, hsla(130, 35%, 75%, 0) 75%),
      -webkit-linear-gradient(135deg, hsla(300, 100%, 75%, 0.6) 0%, hsla(300, 100%, 75%, 0) 40%),
      -webkit-linear-gradient(330deg, hsla(180, 100%, 50%, 0.6) 40%, hsla(180, 100%, 50%, 0) 100%);
    background:
      linear-gradient(170deg, hsla(30, 80%, 65%, 0.6) 0%, hsla(30, 80%, 65%, 0) 25%),
      linear-gradient(50deg, hsla(205, 100%, 67%, 0.6) 0%, hsla(205, 100%, 67%, 0) 20%),
      linear-gradient(120deg, hsla(0, 100%, 75%, 0.6) 0%, hsla(0, 100%, 75%, 0) 60%),
      linear-gradient(180deg, hsla(130, 35%, 75%, 0.6) 40%, hsla(130, 35%, 75%, 0) 75%),
      linear-gradient(315deg, hsla(300, 100%, 75%, 0.6) 0%, hsla(300, 100%, 75%, 0) 40%),
      linear-gradient(120deg, hsla(180, 100%, 50%, 0.6) 40%, hsla(180, 100%, 50%, 0) 100%);
    background-attachment: fixed;
} */
  main {
    min-height: calc(100vh - 80px - 4.0rem);
    top: 0;
  }
  .header {
    position: relative;
  }

  .header, main, footer {
    max-width: 960px;
    margin: 0 auto;
  }
  .header {
    width: 960px;
    height: 80px;
  }
  #header_sp {
    display: none;
  }
  #header_pc {
    display: block;
  }
  .menu-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 10px;
  }
  .menu-btn-bar {
    position: absolute;
    left: 9px;
    width: 42px;
    height: 5px;
    border-radius: 2.5px;
    transform: translateY(0) rotate(0deg);
    background-color: #fff;
    transition: all .4s;
  }
  .menu-btn-bar:nth-of-type(1) {
    top: 15px;
  }
  .open .menu-btn-bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }
  .menu-btn-bar:nth-of-type(2) {
    top: 30px;
  }
  .open .menu-btn-bar:nth-of-type(2) {
    opacity: 0;
  }
  .menu-btn-bar:nth-of-type(3) {
    top: 45px;
  }
  .open .menu-btn-bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }

  #menu-show {
    top: 80px;
    /* left: 546px; */
    height: calc(100vh - 80px);
  }
  .menu {
    top: 0;
    left: 414px;
    height: calc(100vh - 80px);
  }
  .menu-wrapper {
    height: 100%;
    overflow: auto;
  }
  footer {
    position: relative;
    top: 0;
  }

  .menu-text {
    display: none;
  }
}