@charset "UTF-8";

body {
  background: url(../images/home-background.png);
}

.department {
  margin: 0.8rem 0;
  width: 100%;
  flex-wrap: wrap;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vw;
}
.container img {
  position: absolute;
  width: 100%;
}
.white-box {
  position: absolute;
  top: 2.0rem;
  bottom: 2.0rem;
  left: 2.0rem;
  right: 2.0rem;
  background-color: rgba(225, 225, 225, 0.6);
}
.department-title-en {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  font-size: 9.6rem;
  line-height: 9.6rem;
  font-weight: 700;
}
.department-title-ja {
  position: absolute;
  top: 13rem;
  left: 2.6rem; /* ちょっと右にずらしてある */
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.department-intro {
  display: inline-block;
  position: absolute;
  top: 17rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: justify;
}
.detail-btn {
  position: absolute;
  width: 15rem;
  height: 5rem;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: black;
  cursor: pointer;
}
.detail-btn p {
  line-height: 5rem;
  text-align: center;
  font-family: 'Noto Sans JP', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
  font-size: 1.8rem;
  color: white;
}

/* 各局正方形の背景色 */
.ev {
  background-color: #0FF;
}
.ev img {
  opacity: 0.5;
}
.sh {
  background-color: #F00;
}
.sh img {
  opacity: 0.5;
}
.pr {
  background-color: #00F;
}
.pr img {
  opacity: 0.5;
}
.fp {
  background-color: #8F0;
}
.fp img {
  opacity: 0.5;
}
.wm {
  background-color: #F90;
}
.wm img {
  opacity: 0.5;
}
.ga {
  background-color: #F4F;
}
.ga img {
  opacity: 0.5;
}

/* モーダル */
.modal-bg {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.center {
  height: 100%;
  width: 90%;
  margin: auto;
}
.modal-wrapper {
  z-index: 101;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 5rem 0;
  max-height: 95%; /* モーダルの枠 */
  overflow: auto;
  text-align: center;
  border-radius: 1rem;
  background: url(../images/home-background.png);
  /* background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)); */
}
/* #modal-wrapper_ev {
  background-color: #0FF;
}
#modal-wrapper_sh {
  background-color: #F00;
}
#modal-wrapper_pr {
  background-color: #00F;
}
#modal-wrapper_fp {
  background-color: #8F0;
}
#modal-wrapper_wm {
  background-color: #F90;
}
#modal-wrapper_ga {
  background-color: #F4F;
} */
.close-cross-wrapper {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.close-cross-wrapper p {
  line-height: 3.2rem;
  font-size: 3.2rem;
}
.detail {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}
.detail table {
  margin: 0;
}
.detail tr {
  font-size: 1.3rem;
  line-height: 2.4rem;
  vertical-align: top;
}
.detail td:nth-child(1) {
  text-align: right;
  width: 6.5rem;
}
.close-btn {
  display: block;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  width: 35%;
  border: black 1px solid;
  margin: 3vw auto;
  border-radius: 4vw;
  padding: 2.5vw 0;
}
#modal-ev {
  background-color: rgba(0, 255, 255, 0.6);
}
#modal-sh {
  background-color: rgba(255, 0, 0, 0.6);
}
#modal-pr {
  background-color: rgba(0, 0, 255, 0.6);
}
#modal-fp {
  background-color: rgba(136, 255, 0, 0.6);
}
#modal-wm {
  background-color: rgba(255, 153, 0, 0.6);
}
#modal-ga {
  background-color: rgba(255, 68, 255, 0.6);
}

/* iPhoneSE･iPhone5 */
@media (orientation: portrait) and (max-width: 374px) {
  .department-intro {
    font-size: 1.4rem;
  }
  .detail-btn {
    width: 12rem;
    height: 4rem;
  }
  .detail-btn p {
    font-size: 1.3rem;
    line-height: 4rem;
  }
}
/* iPad以上 */
@media screen and (min-width: 768px) {
  .container {
    width: 50vw;
    height: 50vw;
  }
}
/* iPhone6･7･8以上 横画面 */
@media (orientation: landscape) and (min-width: 667px) {
  .container {
    width: 50vw;
    height: 50vw;
  }
  .department-title-ja {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .department-intro {
    display: inline-block;
    position: absolute;
    top: 16rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
  }
  .detail-btn {
    width: 12rem;
    height: 4rem;
  }
  .detail-btn p {
    font-size: 1.3rem;
    line-height: 4rem;
  }
}
