@charset "UTF-8";
h1 {
  font-size: 3.2rem;
}
.top p {
  font-size: 1.6rem;
}
.top {
  position: relative;
  height: calc(100vh - 20vw);
  width: 100%;
  overflow: hidden;
  color: #eee;
}

.top-bg {
  position: absolute;
  height: 150%;
  top: -250px;
  left: -250px;
  filter: blur(1px) brightness(40%) saturate(120%);
}

.top-title, .top-message, .top-arrow {
  position: absolute;
  height: 100%;
  width: 100%;
}
.top-title h1 {
  position: relative;
  display: inline-block;
  top: 30%;
}
.top-message p {
  position: relative;
  top: 60%;
}
.top-arrow p {
  position: relative;
  top: 70%;
  font-family: 'Noto Sans JP',
  '游ゴシック体',
  YuGothic,
  '游ゴシック',
  'Yu Gothic',
  'メイリオ',
  sans-serif;
}
.top-arrow i {
  font-size: 2.4rem;
}

.flow li, .flow p {
  line-height: 2.4rem;
}

.calendar {
  display: flex;
  flex-flow: column wrap;
  height: 31.4rem;
}
.calendar::after {
  content: '';
  height: 29.8rem;
  width: 1px;
  margin: 0.8rem 0;
  background-color: gray;
}
.calendar table:nth-child(n+3) {
  order: 1;
}
.session table {
  width: 45%;
}
.session table tr td:nth-child(1) {
  width: 29%;
}
.session table tr td:nth-child(2) {
  width: 29%;
}
.session table tr td:nth-child(3) {
  width: 42%;
}
/* .session table tr td:nth-child(4) {
  width: 7%;
} */
.other-event table {
  width: calc(100% - 1.6rem);
}
.other-event table tr td:nth-child(1) {
  width: 30%;
}
.other-event table tr td:nth-child(2) {
  width: 70%;
}

.twitter-wrapper {
  width: calc(100vw - 4.0rem);
  height: calc(100vw - 5.6rem);
  background-color: white;
  border: 1px solid black;
  border-radius: 2%;
  margin: 0.8rem 0;
  padding: 2%;
}
/* 画面横向き時のtop-bg imgに注意！ */
/* パソコン画面での日程表はカレンダー形式？ */

@media screen and (min-width:1025px) {
  .top-bg {
    left: 0;
    top: -100px;
  }
}

@media screen and (min-width: 1200px) {
  .top-bg {
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh - 20vw);
    object-fit: cover;
  }
}

@media (orientation: landscape) {
  .top-bg {
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh - 20vw);
    object-fit: cover;
  }
  .top-title h1 {
    top: 0;
  }
  .twitter-wrapper {
    width: calc(100vw - 16.0rem);
    height: 100vh;
  }
}