@charset "UTF-8";

h1 {
  font-size: 3.2rem;
}

h1,h2,footer {
  color: #fff;
}

.wrapper {
  z-index: 2;
}

.top p {
  font-size: 1.6rem;
}

.top {
  position: relative;
  height: calc(100vh - 13.3vw);
  width: 100%;
  overflow: hidden;
  color: #eee;
}

.content {
  padding: 2.0rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.0rem;
}

.top-bg {
  position: fixed;
  z-index: -1;
  height: calc(100vh - 13.3px);
  left: -250px;
  filter: blur(1px) brightness(40%) saturate(120%);
}

.top-title,
.top-message,
.top-arrow {
  position: absolute;
  height: 100%;
  width: 100%;
}

.top-title h1 {
  position: relative;
  display: inline-block;
  top: 30%;
}

.top-message p {
  position: relative;
  top: 60%;
}

.top-arrow p {
  position: relative;
  top: 70%;
  font-family: 'Noto Sans JP',
    '游ゴシック体',
    YuGothic,
    '游ゴシック',
    'Yu Gothic',
    'メイリオ',
    sans-serif;
}

.top-arrow i {
  font-size: 2.4rem;
}

.second {
  margin-top: -1.5rem;
}

#information {
  position: absolute;
  top: calc(100vh - 13.3vw);
}

.flow li,
.flow p {
  line-height: 2.4rem;
}

.calendar {
  display: flex;
  flex-flow: column wrap;
  /* height: 31.4rem; */
}

/* .calendar::after {
  content: '';
  height: 29.8rem;
  width: 1px;
  margin: 0.8rem 0;
  background-color: gray;
}
.calendar table:nth-child(n+3) {
  order: 1;
} */

.calendar table tr td:nth-child(1) {
  width: 12rem;
}

.session table {
  width: 45%;
}

.session table tr td:nth-child(1) {
  width: 29%;
}

.session table tr td:nth-child(2) {
  width: 29%;
}

.session table tr td:nth-child(3) {
  width: 42%;
}

/* .session table tr td:nth-child(4) {
  width: 7%;
} */
.other-event table {
  width: calc(100% - 1.6rem);
}

.other-event table tr td:nth-child(1) {
  width: 30%;
}

.other-event table tr td:nth-child(2) {
  width: 70%;
}

.twitter-wrapper {
  width: calc(100vw - 8.0rem);
  height: calc(100vw - 5.6rem);
  background-color: white;
  border: 1px solid black;
  border-radius: 2%;
  margin: 0.8rem 0;
  padding: 2%;
}

/* モーダル */
.modal-bg {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.modal-center {
  height: 100%;
  width: 90%;
  margin: auto;
}
.modal-wrapper {
  z-index: 101;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 5rem 0;
  max-height: 95%; /* モーダルの枠 */
  min-height: 60%;
  overflow: auto;
  text-align: center;
  border-radius: 1rem;
  background: url(../images/home-background.png);
}
.close-cross-wrapper {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.close-cross-wrapper p {
  line-height: 3.2rem;
  font-size: 3.2rem;
}
.detail {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.detail img {
  width: 100%;
  height: auto;
}
.close-btn {
  z-index: 101;
  position: relative;
  display: block;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  width: 20rem;
  border: black 1px solid;
  margin: 3vw auto;
  border-radius: 4vw;
  padding: 2.5vw 0;
}
.close-btn a {
  text-decoration: none;
  color: black;
}

/* 画面横向き時のtop-bg imgに注意！ */
@media screen and (min-width:1025px) {
  .top-bg {
    left: 0;
    top: -100px;
  }
}

/* @media screen and (min-width: 1200px) {
  .top-bg {
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh - 20vw);
    object-fit: cover;
  }
} */

@media (orientation: landscape) {
  .top-bg {
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh - 20vw);
    object-fit: cover;
  }

  .top-title h1 {
    top: 0;
  }

  .twitter-wrapper {
    width: calc(100vw - 16.0rem);
    height: 100vh;
  }
}

/* iPad */
@media screen and (min-width: 768px) {
  .top-arrow p {
    font-size: 2.4rem;
  }

  .twitter-wrapper {
    width: calc(100vw - 16.0rem);
    height: calc(100vw - 16.0rem);
  }
}

/* パソコン */
@media screen and (min-width: 960px) {

  h1,
  h2,
  footer {
    color: #fff;
  }

  body {
    background: url(../images/top_bg.jpg) no-repeat fixed;
    background-size: cover;
  }

  .content {
    padding: 2.0rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.0rem;
  }

  .top {
    display: none;
  }

  .top-bg {
    display: none;
  }

  #information {
    top: 80px;
  }

  .twitter-wrapper {
    margin: 0.8rem auto;
    width: calc(960px - 32rem);
    height: 480px;
  }

  .SandboxRoot.env-bp-660 .timeline-Tweet-text {
    font-size: 1.3rem !important;
    line-height: 2.2rem !important;
  }
  .modal-center {
    max-width: 960px;
  }
  .modal-wrapper {
    height: 95%;
  }
  .close-btn {
    width: 200px;
    margin: 1.2rem auto;
    border-radius: 18px;
    padding: 18px 0;
    top: 0;
  }
  .detail img {
    width: 80%;
  }
}