@charset "UTF-8";
h1 {
  font-size: 3.2rem;
}
.top p {
  font-size: 1.6rem;
}
.top {
  position: relative;
  height: calc(100vh - 20vw);
  width: 100%;
  overflow: hidden;
  color: #eee;
}

.top-bg {
  position: absolute;
  height: 150%;
  top: -250px;
  left: -250px;
  filter: blur(4px) brightness(30%) saturate(120%);
}

.top-title, .top-message, .top-arrow {
  position: absolute;
  height: 100%;
  width: 100%;
}
.top-title h1 {
  position: relative;
  display: inline-block;
  top: 30%;
}
.top-message p {
  position: relative;
  top: 60%;
}
.top-arrow p {
  position: relative;
  top: 80%;
}
.top-arrow i {
  font-size: 2.4rem;
}

.session table {
  width: 45%;
}
.session table tr td:nth-child(1) {
  width: 30%;
}
.session table tr td:nth-child(2) {
  width: 30%;
}
.session table tr td:nth-child(3) {
  width: 35%;
}
.session table tr td:nth-child(4) {
  width: 5%;
}
.other-event table {
  width: calc(100% - 40px);
}
.other-event table tr td:nth-child(1) {
  width: 30%;
}
.other-event table tr td:nth-child(2) {
  width: 70%;
}
/* 画面横向き時のtop-bg imgに注意！ */
/* パソコン画面での日程表はカレンダー形式？ */