Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.agestock\.jp$
RewriteRule ^(.*)$ http://agestock.jp/$1 [R=301,L]

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.(html|php)
RewriteRule ^(.*)index.(html|php)$ http://%{HTTP_HOST}/$1 [R=301,L]